
<div class="content">
  <!-- <h2><%= (Task.where(complete: [false, nil]).sum(:time_estimate)/60).round(2) %><%= " hours of tasks" %></h2> -->

  <%= link_to "Add New List", new_list_path, class: "nav-button button-one" %>
    <ul>
      <% @lists.each do |list| %>

        <li><%= link_to list.name, list %>

        <% if list.list_type == "Check List" %>
        <%= ((Task.where(list_id: list.id).where(complete: [false, nil]).sum(:time_estimate))/60.0).round(2) %><%= " hours" %></li>
        <% end %>

        <% if list.list_type == "Shopping List" %>
        <%= number_to_currency(Task.where(list_id: list.id).sum(:cost)) %></li>
        <% end %>
      <% end %>
    </ul>

</div>
