<h2><%= @list.name %> - <%= link_to "Edit", edit_list_path %> <%= link_to "Delete", list_path(@list), method: :delete %></h2>

<h3><%= Task.where(list_id: @list.id).sum(:time_estimate) %><%= " hours" %></h3>

<ul>
  <%  @list.tasks.each do |task| %>
  <li><%= check_box_tag :complete, 1, task.complete %>
    <%= link_to task.name, edit_list_task_path(@list, task) %>

  <%= task.time_estimate %><%= " minutes" %>
  </li> <%= link_to "Delete", list_task_path(@list, task), method: :delete %>

  <% end %>

</ul>



<%= link_to "Add New Task", new_list_task_path(@list) %>
