<%= form_for [@list, @task] do |f| %>
<li><%= f.label :name %>
<%= f.text_field :name %></li>
<li><%= f.label :category %>
<%= f.text_field :category %></li>
<li><%= f.label :priority %>
<%= f.radio_button :priority, 'High' %> High
<%= f.radio_button :priority, 'Medium' %> Medium
<%= f.radio_button :priority, 'Low' %> Low </li> 
<li><%= f.label :time_estimate %>
<%= f.text_field :time_estimate %></li>
<li><%= f.label :time_actual %>
<%= f.text_field :time_actual %></li>
<li><%= f.label :deadline %>
<%= f.date_field :deadline %></li>
<li><%= f.label :cost %>
<%= f.text_field :cost %></li>
<li><%= f.label :description %>
<%= f.text_area :description %></li>
<li><%= f.label :image %>
<%= f.text_field :image %></li>
<li><%= f.label :quantity %>
<%= f.text_field :quantity %></li>
<li><%= f.submit %></li>
<% end %>
